@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/14618894/pexels-photo-14618894.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bungee', 'sans-serif';
    color: white;
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 3.125rem;
    gap: 12.5rem;
}

.weight-wrapper, .planet-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#user-weight, #planets {
    background: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: .0625rem solid #eeeeee;
}

.output-wrapper {
    background: black;
    opacity: 80%;
    max-width: 50%;
    max-height: 20%;
    padding: 1rem;
}

#calculate-button {
    padding: 1rem 1.25rem;
    border-radius: 0;
    font-family: 'Bungee', 'sans-serif';
    margin-top: 50px;
    background-color: white;
    border-style: none;
}